@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: miama;
    src:url("../font/Miama.ttf");
}
.inter-primary-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  body{ 
    margin: 0; 
    padding: 0;
    background-color: rgb(0, 0, 0);
   } 
  :root{
    --primary-color:rgb(230, 83, 60);
    --Text-color:rgba(255, 255, 255, 0.5);
    --white-color:rgb(255, 255, 255);
    --backgroud-color:rgb(17, 17, 17)
    rgba(119, 119, 119, 0);
    --section-bg-color:rgb(34, 34, 34);

  }

  /* Shared Styles */

  section{
    max-width: 1080px;
    margin: 0 auto;
  }

  .btn-primary{
    background-color: var(--primary-color);
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
    margin-right: 14px;
  }
  .btn-2{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: var(--white-color);
  }

  .section-title{
    font-size: 4rem;
    font-weight: 900;
    color: var(--white-color);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .description{
    font-size: .9rem;
    font-weight: 400px;
    letter-spacing: 0.3px;
  }

  /* Header Styles */
  .header-style{
    background-image: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
  }
  .nav-bar{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center ;
  }
  .logo-style{
    color: var(--primary-color);
    font-size: 2.1rem;
    font-weight: 800;
    font-style: italic;
  }
  .menu-bar{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
    
  }
  .menu-items{
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 25px;
  }
  .menu-item{
    list-style: none;

  }
  .menu-item>a{
    position: relative;
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
  
  }
  .menu-active-color{
    background-color: var(--primary-color);
    border-radius: 46px;
    padding: 8px 20px;
    border: none;
  }
  .menu-items-focus{
    padding: 8px 20px;
  }

  .menu-icon {
    display: none;
  }


/* Hero Section Styles */
.hero{
    display: flex;
    justify-content: space-between;

}
.hero-content{
    max-width: 50%;
}
.hero-banner-style{
  max-width: 50%;
}
.hero-banner{
    max-width: 100%;
}

.hero-title{
    font-size: 4.5rem;
    font-weight: 900;
    color: var(--white-color);
    line-height: 120%;
}
.hero-title-shape{
    font-family: miama;
    font-weight: 400;
    font-size: 7rem;
    line-height: 70px;
}
.description{
  font-size: 1rem;
  color:var(--Text-color);
  margin-top: 5px;
  margin-bottom: 5px;

}

.hero-card-1{
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  width: 208px;
  height: 96px;
  position: relative;
  top: -250px;
  left: -100px;

}
.hero-card-box{
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-top: 30px;
  
}
.hero-card-title{
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 900;
  padding: auto;
}
.hero-card-description{
  font-size: .8rem;
  color: var(--Text-color);
  line-height: 0%;
}
.hero-card-2{
  width: 180px;
  height: 96px;
  position: relative;
  top: -430px;
  left: 240px; 
}
.hero-card-title-2{
  font-size: 2rem;
  font-weight: 900;
  color: var(--white-color);
  margin-top: 20px;
  margin-bottom: 5px;
}
.hero-card-description-2{
  font-size: 0.8rem;
  color: var(--Text-color);
  margin-top: 0;
  margin-bottom: 0;
}

  /* Main */
  /* Habits Section Styles */
  .habits-contents{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
  }
  .havits-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding-top: 58px;
    margin: 0 auto;
  }
  .habits-image{
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid var(--white-color);
  }
  .habits-title{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--white-color);
    margin-bottom: 5px;
  }

  /* Mobile Responsive Style */
    
    @media screen and (max-width:576px) {
    /* Header and Hero */
      .header-style{
        padding: 10px;
      }
      .menu-item{
        display: none;
      }
      .menu-icon{
        display: inline;
      }
      .menu-bar{
        border: none;
      }
      .hero{
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
      }
      .hero-content{
        max-width: 100%;
    }
    .hero-banner-style{
      max-width: 100%;
      padding-top: 48px;
    }
      .hero-title{
        font-size: 2.1rem;
        font-weight: 900;
        color: var(--white-color);
        line-height: 120%;
      }
      .btn-primary{
        padding: 13px 30px;
        font-size: 0.8rem;
      }

      .hero-card-1{
        width: 155px;
        height: 70px;
        position: relative;
        top: -380px;
        left: 0;
      }
      .hero-card-2{
        position: relative;
        top: -520px;
        left: 200px;
      }
      .hero-card-title{
        color: var(--white-color);
        font-size: 1rem;
        font-weight: 900;
        padding: auto;
      }
      .hero-card-box{
        width: 30px;
        height: 30px;
        background-color: var(--primary-color);
        border-radius: 50%;
        margin-top: 20px;
      }
      .hero-card-title-2{
        font-size: 1.2rem;
        margin-top: 10px;
      }
      /* Shared Style Responsive */
      .section-title{
        font-size: 2rem;
      }
      .description{
        font-size: .8rem;
      }
      /* Habits Section Mobile responsive */
      .habits-section{
        margin-top: -130px;
      }
      .habits-contents{
        max-width: 80%;
      }
      .havits-items{
        max-width: 80%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
      }
      

  }